<!DOCTYPE html>
<html lang="{{ site.locale | lang_base }}">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ site.name | fix }}{{ title is not empty ? " | " ~ title | striptags | fix : "" }}{% endblock %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="initial-scale = 1.0">
  <link rel="icon" sizes="32x32" type="image/x-icon" href="{{ site.chyrp_url }}/favicon.ico">
  <link rel="icon" sizes="any" type="image/svg+xml" href="{{ site.chyrp_url }}/favicon.svg">
  <link rel="mask-icon" href="{{ site.chyrp_url }}/favicon.svg" color="#4f4f4f">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  {{ theme.feeds() }}
  {{ theme.stylesheets() }}
  {{ theme.javascripts() }}
  {{ trigger.call("end_head") }}
</head>
<body class="route_{{ route.action }}">
  {% if visitor.group.can("add_post", "add_page", "edit_post", "edit_page", "change_settings", "toggle_extensions") %}
  <div id="controls">
    <ul>
    {% if visitor.group.can("change_settings", "toggle_extensions") %}
    <li><ion-icon name="settings-sharp"></ion-icon> <a href="{{ url('/?action=settings', 'AdminController') }}">{{ site.name | fix }}</a></li>
    {% endif %}
    {% if visitor.group.can("add_post") %}
    <li><ion-icon name="add-sharp"></ion-icon> <a href="{{ url('/?action=write_post&feather=text', 'AdminController') }}">{{ "Add Post" | translate }}</a></li>
    {% endif %}
    <li><ion-icon name="logo-rss"></ion-icon> <a href="{{ url('feed') }}" rel="alternate">{{ "Feed" | translate }}</a></li>
    </ul>
  </div>
  {% endif %}

  <div class="shim">
  {% for notice in flash.notices %}<div class="ribbon flash notice">{{ notice }}</div>{% endfor %}
  {% for warning in flash.warnings %}<div class="ribbon flash warning">{{ warning }}</div>{% endfor %}
  {% for message in flash.messages %}<div class="ribbon flash message">{{ message }}</div>{% endfor %}
  </div>
  {% if not ["login", "controls", "register", "lost_password"] | contains(route.action) %}{% endif %}

  <header id="masthead" role="site-title">
    <div class="wrapper">
    <h1 class="site-title"><a href="{{ url('/') }}">{{ site.name }}</a></h1>
    <div class="site-description">{{ site.description }}</div>
    </div>
  </header>

  <div class="main wrapper">
    {# Container #}
    <div id="container">
      {% block content %}{% endblock %}
      {% if posts.paginated is defined and (posts.prev_page() or posts.next_page()) %}
      {# Nav #}
      <div class="prev_next traversal">
      {% if posts.paginated is defined and posts.prev_page() %}{{ posts.prev_link("Newer posts" | translate) }}{% endif %}
      {% if posts.paginated is defined and posts.next_page() %}{{ posts.next_link("Older posts" | translate) }}{% endif %}
      </div>
      {% endif %}
    </div>

    <!-- aside -->
    {% include "content/aside.twig" %}
  </div>

  <!-- bottom -->
  <div id="bottom">
    <div class="copyright">(C) All rights reserved. Powered by Chyrp Lite</div>
  </div>

  {{ trigger.call("end_content") }}
</body>
<!-- Queries: {{ sql_queries }} | Load Time: {{ theme.load_time() }} -->
{% if debug %}
<!--
{% for caller in sql_debug %}
{{ caller.query | replace({"\t": "    "}) | fix }}
{{ "Called from %s on line %d at %s seconds." | translate | format(caller.file, caller.line, caller.time) }}

{% endfor %}
-->
{% endif %}
</html>
