<div id="aside" role="navigation">
  <ul class="search">
    <form class="search_box" action="{{ url('search') }}" method="post" accept-charset="UTF-8">
    <input type="text" id="sidebar_search_field" name="query" value="{{ search is defined ? search | fix(true, true) : '' }}" placeholder="{{ 'Search&hellip;' | translate }}" aria-label="{{ 'Search this blog' | translate }}">
    <button type="submit">{{ "Search" | translate }}</button>
    </form>
  </ul>

  {% if module_enabled("categorize") and categorize is not empty %}
  <h4 class="label-dinky">{{ "Categories" | translate }}</h4>
  <ul class="categories">
    {% for category in categorize %}
    <li><a href="{{ category.url }}">{{ category.name | oneof("[Untitled]" | translate) }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if theme.pages_list() is not empty %}
  <h4 class="label-dinky">{{ "Pages" | translate }}</h4>
  <ul class="pages">
    {% for item in theme.pages_list() %}
    <li class="page">{{ "&nbsp;" | repeat((item.depth - 1) * 4) }}<a href="{{ item.url() }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if theme.archives_list() is not empty %}
  <h4 class="label-dinky"><a href="{{ url('archive') }}" rel="archives">{{ "Archive" | translate }}</a></h4>
  <ul class="archive-list">
    {% for archive in theme.archives_list() %}
    <li><a href="{{ archive.url }}">{{ archive.when | time("F Y" | translate) | title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if route.action == "view" and post is defined and theme.related_posts(post) is not empty %}
  <h4 class="label-dinky">{{ "Related Posts" | translate }}</h4>
  <ul class="related-posts">
    {% for post in theme.related_posts(post) %}
	<li><a href="{{ post.url() }}">
	{% if post.title is not empty %}
    {{ post.title() | striptags | normalize | oneof(post.slug) | truncate(30) }}
    {% else %}
    {{ "Untitled" | translate }}
    {% endif %}
	</a></li>
    {% endfor %}
  </ul>
  {% elseif theme.recent_posts() is not empty %}
  <h4 id="function-recent-posts" class="label-dinky">{{ "Recent Posts" | translate }}</h4>
  <ul class="recent-posts" aria-labelledby="function-recent-posts">
    {% for post in theme.recent_posts() %}
	<li><a href="{{ post.url() }}">
	{% if post.title is not empty %}
    {{ post.title() | striptags | normalize | oneof(post.slug) | truncate(30) }}
    {% else %}
    {{ "Untitled" | translate }}
    {% endif %}
	</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
