{% extends "content" ~ DIR ~ "post.twig" %}

{% block content %}
<div class="hairpin">{{ "Photo" | translate }}</div>
{% if post.title is not empty %}
<h2 class="post-title">
  <a href="{{ post.url() }}" rel="bookmark" title="{{ 'Permanent link to &#8220;%s&#8221;' | translate | format(post.title | striptags | normalize | fix(true)) }}">{{ post.title }}</a>
</h2>
{% else %}
<h2 class="post-title untitled">
<a href="{{ post.url() }}" rel="bookmark">{{ "Untitled" | translate }}</a>
</h2>
{% endif %}

<div class="post-meta">
  <span>{% if post.status == "draft" %}
  {{ "Draft" | translate }}
  {% elseif post.status == "scheduled" %}
  {{ "Scheduled" | translate }}
  {% elseif post.pinned %}
  {{ "Pinned" | translate }}
  {% else %}
  {{ "Posted at" | translate }} 
  {{ post.created_at | time }}
  {% endif %}</span>
  <span>{{ "Written by %s" | translate | format(post.author.name) }}</span>
</div>

<div class="content photo">
  {% if (self_url() == url('/')) or
  (self_url() matches '{[?&]page=[0-9]+}') or
  (self_url() matches '{action=archive}') or
  (self_url() matches '{action=category}') or
  (self_url() matches '{action=search}') or
  (self_url() matches '{action=tag}') %}
  {% if post.caption is not empty %}
  <div class="caption">
    {{ post.caption | striptags | normalize | slice(0, 100) }}
  </div>
  {% endif %}
  <a href="{{ post.url() }}" class="read-more continue-link" title="{{ 'Read more' | translate }}">{{ 'Read more' | translate }}</a>
  {% else %}
  {{ post.filename | thumbnail(post.alt_text, post.source, ["max_width=1280", "max_height=1920", "quality=80"], "(max-width: 959px) 95vw, 75vw") }}
  {% if post.caption is not empty %}
  <div class="caption">
    {{ post.caption }}
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
