{% extends "content" ~ DIR ~ "post.twig" %}

{% block content %}
{% if post.title is not empty %}
<h2 class="post_title"><a href="{{ post.url() }}" rel="bookmark" title="{{ 'Permanent link to &#8220;%s&#8221;' | translate | format(post.title | striptags | normalize | fix(true)) }}">{{ post.title }}</a></h2>
{% endif %}

<span class="post_meta">
{% if post.status == "draft" %}{{ "Draft" | translate }} &bull;
{% elseif post.status == "scheduled" %}{{ "Scheduled" | translate }} &bull;
{% elseif post.pinned %}{{ "Pinned" | translate }} &bull;
{% else %}{{ "Posted at" | translate }} {{ post.created_at | time }} &bull;
{% endif %} 
{{ "Written by %s" | translate | format(post.author.name) }}</span>

<section class="body">
  {% if url('/') == self_url() %}
  {{ post.body|striptags|normalize|slice(0, 100)|trim }}
  <a href="{{ post.url() }}" class="read_more" title="{{ 'Read more' | translate }}">Read More</a>
  {% else %}
  {{ post.body }}
  {% endif %}
</section>
{% endblock %}
