{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}

{# Months? (For yearly archives) #}
{% if months is not empty %}
<div class="prev_next traversal">
{% if archive.prev is not empty %}
  <a href="{{ url('archive/%s/' | format(archive.prev | dateformat('Y'))) }}">{{ "Archive of %s" | translate | format(archive.prev | time("Y")) }}</a>
{% endif %}
{% if archive.next is not empty %}
  <a href="{{ url('archive/%s/' | format(archive.next | dateformat('Y'))) }}">{{ "Archive of %s" | translate | format(archive.next | time("Y")) }}</a>
{% endif %}
</div>
{% endif %}

{# Posts? (For daily/monthly archives) #}
{% if posts.paginated is not empty %}
<div class="ribbon">
{{ "Archive of %s" | translate | format(archive.when | time(archive.depth == "day" ? "d F Y" : "F Y")) }}
</div>
{% for post in posts.paginated %}
{% include(["feathers" ~ DIR ~ post.feather ~ ".twig", "feathers" ~ DIR ~ "missing.twig"]) %}
{% endfor %}
{% endif %}

{# No results #}
{% if months is empty and posts.paginated is empty %}
<div class="ribbon">
<h3 role="status" class="ribbon">{{ "There aren't any posts in the timeframe you specified." | translate }}</h3>
</div>
{% endif %}

{% endblock %}
